<!DOCTYPE html>
<html>
<head>
  <title>Masticore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div id="container">
      <div id="user-header">
        <%= link_to "Sign Up", new_user_path %>
      </div>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash-#{name}" %>
      <% end %>

    </div>
<%= yield %>

</body>
</html>
